<%= form_with(model: rabbit) do |form| %>
  <% if rabbit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rabbit.errors.count, "error") %> prohibited this rabbit from being saved:</h2>

      <ul>
        <% rabbit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :purity, style: "display: block" %>
    <%= form.number_field :purity %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :breed_id, style: "display: block" %>
    <%= form.number_field :breed_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
