<div id="<%= dom_id rabbit %>">
  <p>
    <strong>Name:</strong>
    <%= rabbit.name %>
  </p>

  <p>
    <strong>Purity:</strong>
    <%= rabbit.purity %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= rabbit.birth_date %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= rabbit.weight %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= rabbit.breed.description %>
  </p>

</div>
