<div id="<%= dom_id doerabbit %>">
  <p>
    <strong>Breed date:</strong>
    <%= doerabbit.breed_date %>
  </p>

  <p>
    <strong>Buck:</strong>
    <%= doerabbit.buck %>
  </p>

  <p>
    <strong>Nest box date:</strong>
    <%= doerabbit.nest_box_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= doerabbit.due_date %>
  </p>

  <p>
    <strong>Kindled date:</strong>
    <%= doerabbit.kindled_date %>
  </p>

  <p>
    <strong>Born alive:</strong>
    <%= doerabbit.born_alive %>
  </p>

  <p>
    <strong>Born dead:</strong>
    <%= doerabbit.born_dead %>
  </p>

  <p>
    <strong>Kits weaned:</strong>
    <%= doerabbit.kits_weaned %>
  </p>

  <p>
    <strong>Eight week weight:</strong>
    <%= doerabbit.eight_week_weight %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= doerabbit.comments %>
  </p>

  <p>
    <strong>Rabbit:</strong>
    <%= doerabbit.rabbit_id %>
  </p>

</div>
