<p style="color: green"><%= notice %></p>

<%= render @breed %>

<div>
  <%= link_to "Edit this breed", edit_breed_path(@breed) %> |
  <%= link_to "Back to breeds", breeds_path %>

  <%= button_to "Destroy this breed", @breed, method: :delete %>
</div>
