<%= form_with(model: supply) do |form| %>
  <% if supply.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
        <% supply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :acquisition_date, style: "display: block" %>
    <%= form.date_field :acquisition_date %>
  </div>

  <div>
    <%= form.label :folio, style: "display: block" %>
    <%= form.number_field :folio %>
  </div>
  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.text_field :cost %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
