<div id="<%= dom_id supply %>">
  <p>
    <strong>Acquisition date:</strong>
    <%= supply.acquisition_date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= supply.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= supply.description %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= supply.cost %>
  </p>

</div>
